aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
altair==6.1.0
annotated-types==0.7.0
anyio==4.13.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
async-timeout==5.0.1
attrs==26.1.0
backports.asyncio.runner==1.2.0
banks==2.4.2
blinker==1.9.0
cachetools==7.1.4
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
dataclasses-json==0.6.7
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1769745019/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
Deprecated==1.3.1
dirtyjson==1.0.8
distro==1.9.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filetype==1.2.0
frozenlist==1.8.0
fsspec==2026.4.0
gitdb==4.0.12
GitPython==3.1.50
greenlet==3.5.1
griffe==2.0.2
griffecli==2.0.2
griffelib==2.0.2
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.17
iniconfig==2.3.0
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1770566174/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1748711254/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jiter==0.15.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
llama-index==0.14.22
llama-index-core==0.14.22
llama-index-embeddings-ollama==0.9.0
llama-index-embeddings-openai==0.6.0
llama-index-instrumentation==0.5.0
llama-index-llms-ollama==0.10.1
llama-index-llms-openai==0.7.9
llama-index-workflows==2.20.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
multidict==6.7.1
mypy_extensions==1.1.0
narwhals==2.21.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
nltk==3.9.4
numpy==2.2.6
ollama==0.6.2
openai==2.38.0
packaging==26.0
pandas==2.3.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==12.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1779972894/work
pluggy==1.6.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache==0.5.2
protobuf==7.35.0
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678167/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
pydeck==0.9.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pytest==9.0.3
pytest-asyncio==1.4.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart==0.0.30
pytz==2026.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1779222947/work
PyYAML==6.0.3
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483930/work
referencing==0.37.0
regex==2026.5.9
requests==2.34.2
rpds-py==0.30.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.3
sniffio==1.3.1
SQLAlchemy==2.0.50
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==1.2.1
streamlit==1.58.0
tenacity==9.1.4
tiktoken==0.13.0
tinytag==2.2.1
toml==0.10.2
tomli==2.4.1
tornado @ file:///D:/bld/tornado_1779915910048/work
tqdm==4.67.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1778074251/work
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.48.0
watchdog==6.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1777744409267/work
websockets==16.0
wrapt==2.2.1
yarl==1.24.2
